header.search_header {
  width: 97%;
  height: 150px;
  margin-top: 20px;
  border-radius: 15px;
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 2px 1px;
  background-color: white;
  display: flex;
  flex-direction: column;
  .search_top_bar {
    height: 80px;
    line-height: 80px;
    padding-left: 25px;
    @include text-large;
    border-bottom: 1px solid nth($grey, 3);
  }
  .search_bar {
    flex: 1;
    padding-left: 25px;
    display: flex;
    align-items: center;
    .search_title {
      line-height: 70px;
      width: 200px;
      @include text-large;
    }
    .product_type_dropdown {
      height: 40px;
      width: 120px;
      margin-right: 20px;
      border: 1px solid nth($grey, 2);
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 5px;
      .selected {
        padding: 0 5px;
        line-height: 40px;
      }
      .drop_down_button {
        width: 24px;
        height: 24px;
        padding: 0;
        border: 0px;
        background-color: $white;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
          background-color: nth($grey, 3);
        }
        &:active {
          filter: brightness(0.7);
        }
        img {
          width: 24px;
          height: 24px;
          border-radius: 5px;
        }
      }
    }
    input {
      height: 38px;
      width: 300px;
      margin-right: 20px;
      border: 1px solid nth($grey, 2);
      border-radius: 5px;
      &:focus {
        outline: 1px solid nth($grey, 1);
      }
    }
    .submit {
      height: 40px;
      width: 70px;
      background-color: $black;
      color: $white;
      border: 0px;
      border-radius: 5px;
      @include text-medium;
      cursor: pointer;
      &:hover {
        background-color: $light-black;
      }
      &:active {
        filter: brightness(0.7);
      }
    }
  }
}
