@mixin text-small {
  font-size: 12px;
  font-weight: 400;
}

@mixin text-medium {
  font-size: 14px;
  font-weight: 400;
}

@mixin text-large {
  font-size: 20px;
  font-weight: 600;
}

@mixin product-list {
  .number {
    width: 10%;
  }
  .name {
    width: 23%;
  }
  .brand {
    width: 17%;
  }
  .content {
    flex: 1;
  }
  .price {
    width: 8%;
  }
  .rating {
    width: 7%;
  }
  .stock {
    width: 7%;
  }
}

@mixin category-dropdown {
  &:first-of-type {
    border-radius: 9px 9px 0px 0px;
  }
  &:last-of-type {
    border-radius: 0px 0px 9px 9px;
  }
  &:first-of-type:nth-last-of-type(1) {
    border-radius: 9px;
  }
  &:hover {
    background-color: nth($grey, 4);
  }
  &:active {
    filter: brightness(0.9);
  }
}

@mixin dropdown-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .drop_down_button {
    width: 24px;
    height: 24px;
    padding: 0;
    border: 0px;
    background-color: $white;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      background-color: nth($grey, 3);
    }
    &:active {
      filter: brightness(0.7);
    }
    img {
      width: 24px;
      height: 24px;
      border-radius: 5px;
    }
  }
}
