section.main_content {
  width: 100%;
  .products_box {
    width: 100%;
    flex: 1;
    background-color: $white;
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 2px 1px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    @include text-medium;
    .category {
      display: flex;
      height: 70px;
      line-height: 70px;
      text-align: center;
      border-bottom: 1px solid nth($grey, 3);
      @include product-list;
    }
    .products_list {
      li {
        list-style: none;
        padding-left: 0px;
        display: flex;
        height: 50px;
        line-height: 50px;
        text-align: center;
        border-bottom: 1px solid nth($grey, 3);
        @include product-list;
      }
    }
    footer.products_page_footer {
      height: 70px;
      display: flex;
      justify-content: center;
      .row_per_page_dropdown_container {
        display: flex;
        align-items: center;
        .row_per_page_select_box {
          height: 40px;
          width: 115px;
          margin-right: 10px;
          @include dropdown-button;
          @include text-medium;
        }
      }
      nav.page_navigation {
        display: flex;
        height: 100%;
        align-items: center;
        button.page_button {
          @include box-design;
          width: 28px;
          height: 28px;
          padding: 0;
          background-color: $white;
          border-radius: 5px;
          align-items: center;
          margin: 0px 3px;
          cursor: pointer;
          &:hover {
            background-color: nth($grey, 3);
          }
          &:active {
            filter: brightness(0.7);
          }
          &:focus {
            outline: none;
          }
          img {
            width: 20px;
            height: 26px;
            border-radius: 5px;
          }
          img.collapse {
            width: 14px;
            height: 26px;
          }
        }
      }
      .space {
        width: 125px;
      }
    }
  }
}
