@import './color';
@import './mixin';
@import './header';
@import './productslist';

.search_page_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: nth($grey, 4);
  section {
    flex: 1;
  }
  footer {
    height: 80px;
  }
}
